[submodule "ocf"]
	path = ocf
	url = http://git.iodepth.com/depth/ocf.git
[submodule "test/functional/test-framework"]
	path = test/functional/test-framework
	url = https://github.com/Open-CAS/test-framework.git
